{% extends "base.html" %}
{% block body %}
<div style="margin: 20px;">
    <h2>Tag Searcher</h2>
	<form action = "" method="post">
		{% csrf_token %}
		<div>
			<p>Please enter the tag you want to search:</p>
			<input type="text" name="tagsearch">
		</div>
		<div style="margin-top: 20px;">
			<input type="submit" name = "submit" value="Search">
		</div>
	</form>
	<div>
		<p> Once you type in a tag and click submit, pictures that match the tag will appear. </p>
		<div>
			<a href = '{% url 'index' %}'>Back to Home Page</a>
		</div>
	</div>
</div>
{% endblock %}
