{% extends "base.html" %}
{% load cloudinary %}

{% block body %}
  <div id='backend_upload'>
    <h1>Upload through your server</h1>
    <form action="{% url 'photo_album.views.upload' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ backend_form }}
      <input type="submit" value="Upload">
    </form>
    {% if posted %}
      <div class="results">
        {% if posted.errors %}
          Errors: {{ posted.errors }}
        {% else %}
          <div class="uploaded_info">
            <div class="data">
              <table>
                {% for key, value in posted.image.metadata.items %}
                  <tr><td>{{ key }}</td><td>{{ value }}</td></tr>
                {% endfor %}
              </table>
            </div>
            <div>
              {% if url %}
                <p>url: {{url}}</p>
              {% endif %}
              {% if tags %}
                <p>tags: {{tags}}</p>
              {% endif %}
            </div>
            <div class="image">
              {% cloudinary url type="fetch" %}
            </div>
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>
{% endblock %}