{% extends "base.html" %}
{% block body %}
{% load crispy_forms_tags %}
<style>
    a { padding: 20px; }
</style>
<div class ="row" style="margin:20px;">
    <div class = "col-sm-3 col-sm-offset-4">
        <div class="panel panel-primary login">
            <div class="panel-heading">
                <h2>Login</h2>
            </div>
            <div class="panel-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <input type="submit" value="Submit" style="margin-top:20px;">
                </form>
            </div>
            <div>
                <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
                <p><a href = '{% url 'index' %}'>Back to Home Page</a> </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}